.App {
  text-align: center;
  color: darkcyan;
  background: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Contract {
  text-align: center;
  /* color: palevioletred; */
  color: grey;
  background: white;
}

.Withdraw {
  text-align: center;
  color: grey;
  background: white;
}

.Oracle {
  text-align: center;
  color: grey;
  background: white;
}

p {
  font-size: medium;
  /* font-family: 'Courier New', Courier, monospace; */
}

h2 {
  font-size: large;
}

.btn:focus {
  background-image: linear-gradient(to right, #69aece, #36aab9, #5ab133);
  color: white;
}

.nav-links {
  font-size: 1vw;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  align-items: center;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav {
  display: flex;
  padding: 5px;
  align-items: center;
}

.space-between {
  justify-content: space-evenly;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: palevioletred;
}

a:visited {
  color: palevioletred;
}

a:hover {
  color: #cc0066;
}

label {
  display: block;
  align-content: center;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}
